

.img-main {
   background-image: url("../images/img.jfif");
  height: 100vh;
}

.txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: rgb(103, 52, 45);
}