.header {
  background-color: #293a21;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;  
  top: 0;           
  width: 100%;      
  z-index: 1000;
}

.logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  
}

.sections {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
}

.sections:hover {
  color: #ddd;
}
