/* *{
    h1{
        font-family: 'Poppins', sans-serif;
    }

    p{
        font-family: 'Poppins', sans-serif;
    }

    h2{
        font-family: 'Poppins', sans-serif;
    }

    h3{
        font-family: 'Poppins', sans-serif;
    }

    a{
        font-family: 'Poppins', sans-serif;
    }

    span{
        font-family: 'Poppins', sans-serif;
    }

    div{
        font-family: 'Poppins', sans-serif;
    }

    input{
        font-family: 'Poppins', sans-serif;
    }
} */